[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "hR"]
	path = hR
	url = https://github.com/dalekube/hr
	shallow = true
	registered = true
